<div class="w3-black w3-bar b3-black">
    <a href="#" [routerLink]="['/home']" [routerLinkActive]="['w3-red']" class="w3-bar-item w3-button w3-hover-red">Home</a>
    <a href="#" [routerLink]="['/dashboard']" [routerLinkActive]="['w3-red']" class="w3-bar-item w3-button w3-hover-red">Dashboard</a>
    <a href="#" [routerLink]="['/login']" [routerLinkActive]="['w3-red']" class="w3-bar-item w3-button w3-hover-red">Login</a>
    <a href="#" [routerLink]="['/logout']" [routerLinkActive]="['w3-red']" class="w3-bar-item w3-button w3-hover-red">Logout</a>
</div>
<div class="w3-padding">
    <router-outlet></router-outlet>
</div>
