<div class="w3-bar w3-padding w3-yellow w3-border-bottom w3-border-amber">
    <a href="#" [routerLink]="['/home']" [routerLinkActive]="['w3-orange']" class="w3-bar-item w3-button w3-hover-orange">Home</a>
    <a href="#" [routerLink]="['/dashboard']" [routerLinkActive]="['w3-orange']" class="w3-bar-item w3-button w3-hover-orange">Dashboard</a>
    <a href="#" [routerLink]="['/login']" [routerLinkActive]="['w3-orange']" class="w3-bar-item w3-button w3-hover-orange">Login</a>
    <a href="#" [routerLink]="['/logout']" [routerLinkActive]="['w3-orange']" class="w3-bar-item w3-button w3-hover-orange">Logout</a>
</div>
<div class="w3-padding">
    <router-outlet></router-outlet>
</div>
